<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <input type="text" value="adminxd" id="username"/>
        <input type="text" id="password"/>
        <button onclick="login()">log in</button>
    </body>
    <script>
        const url = '/prol/login';
        function login() {
            const options = { 
                method:'POST', 
                body: JSON.stringify({ 
                    username: document.querySelector('#username').value, 
                    password: document.querySelector('#password').value
                })
            };
            console.log(options)
            fetch(url, options).then(r => {
                if (r.ok && r.redirected) {
                    window.location.href = r.url
                } else {
                    alert(JSON.stringify(r))
                }
            });
        }
    </script>
</html>