@{
    ViewData["Title"] = "Start";
}

<h1>Start/Index</h1>
<ul>
    <li><a href="http://localhost:5002/Start/One">One</a></li>
    <li><a href="http://localhost:5002/Start/Two">Two</a></li>
    <li><a href="http://localhost:5002/Start/Three">Three</a></li>
</ul>
