<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <main>
            <h3>Sign In</h3>
            <input type="radio" name="user-type" value="regular"/>
            <label for="regular">Regular</label>
            <input type="radio" name="user-type" value="company"/>
            <label for="company">Company</label>
            <label for="username">Username</label><br/>
            <input type="text" name="username"/><br/>
            <label for="password">Password</label><br/>
            <input type="password" name="password"/><br/>
            <button>Sign In</button>
        </main>
    </body>
</html>