@* <div>
    <a href="https://localhost:7186/Calc/Index?press=%2B&x=@ViewBag.x&y=@ViewBag.y">Sum</a> |
    <a href="https://localhost:7186/Calc/Index?press=%2D&x=@ViewBag.x&y=@ViewBag.y">Sub</a> |
    <a href="https://localhost:7186/Calc/Index?press=%2A&x=@ViewBag.x&y=@ViewBag.y">Mul</a> |
    <a href="https://localhost:7186/Calc/Index?press=%2F&x=@ViewBag.x&y=@ViewBag.y">Div</a>
</div> *@
<div>
    <a href="/Calc/Sum">Sum</a>
    <a href="/Calc/Sub">Sub</a>
    <a href="/Calc/Mul">Mul</a>
    <a href="/Calc/Div">Div</a>
</div>