@model UserRolesViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center"><h2>Admin index page</h2></div>
<p></p>
<div class="d-flex flex-row justify-content-between">
    <a class="link-dark" asp-action="CreateRole">CreateRole</a>
    <a class="link-dark" asp-action="DeleteRole">DeleteRole</a>
    <a class="link-dark" asp-action="CreateUser">CreateUser</a>
    <a class="link-dark" asp-action="DeleteUser">DeleteUser</a>
    <a class="link-dark" asp-action="Assign">AssignRoleUser</a>
    <a class="link-dark" asp-action="RemoveRoleUser">RemoveRoleUser</a>
</div>
<p></p>
<div>
    <table class="table">
        <tr><th scope="col">#</th><th scope="col">Name</th><th scope="col">Roles</th></tr>
        @{
            var counter = 1;
        }
        @foreach (var userRoles in @Model.userRoles)
        {
            <tr><td>@counter</td><td>@userRoles.user.UserName</td><td>@userRoles.GetUserListAsString()</td></tr>
            counter++;
        }
    </table>
</div>