@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> @Model.RequestId
    </p>
}
@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>
        <strong>Message:</strong> @Model.Message
    </p>
}
